<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://wigging.me/pythonic/feed.json" rel="alternate" type="application/feed+json" title="Pythonic">
    <link rel="stylesheet" href="styles.css">
    <title>Pythonic Programming</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md">

        <h1 class="mb-4 text-center">🐍 Pythonic Programming</h1>

        <p>Python is a great programming language for all ages and skill levels. Its ecosystem of packages extends the language to many areas of software development. This website and associated repository provide concise code examples about basic Python features as well as more advanced topics relevant to scientific computing.</p>

        <p>This website and example code are available on <a href="https://github.com/wigging/pythonic">GitHub</a>. Questions, comments, and other feedback can be sent via <a href="mailto:gavin42ATwiggingDOTme" onclick = "this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">Email</a>, <a href="https://fosstodon.org/@wigging">Mastodon</a>, or <a href="https://twitter.com/wigging">Twitter</a>. Or submit an Issue on GitHub. If you would like to support this project, donations can be made to Gavin Wiggins using <a href="https://github.com/sponsors/wigging">GitHub Sponsors</a>, <a href="https://www.patreon.com/wigging">Patreon</a>, <a href="https://www.buymeacoffee.com/wigging">Buy Me A Coffee</a>, or <a href="https://www.paypal.me/gavinwiggins">PayPal</a>. Thank you 😄.</p>

        <p>Subscribe to this site using the <a href="https://wigging.me/pythonic/feed.json">JSON Feed</a>.</p>

        <h2>Python</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.category == 'python' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>NumPy</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.category == 'numpy' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Dask</h2>
        <hr>
        <ul>
        {% for page in pages %}
        {% if page.category == 'dask' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Ray</h2>
        <hr>
        <ul>
        {% for page in pages %}
        {% if page.category == 'ray' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>SciPy</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.category == 'scipy' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Flask</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.category == 'flask' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Matplotlib</h2>
        <hr>
        <ul>
        {% for page in pages %}
        {% if page.category == 'matplotlib' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Streamlit</h2>
        <hr>
        <ul>
        {% for page in pages %}
        {% if page.category == 'streamlit' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        <h2>Tkinter</h2>
        <hr>
        <ul style="columns:2;">
        {% for page in pages %}
        {% if page.category == 'tkinter' %}
            <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>

        </div>
    </div>
    <div class="row my-5">
    <div class="col">
        <p class="text-center small my-5">
            Pythonic Programming © 2023 <br>
            Built by <a href="https://wigging.me">Gavin Wiggins</a>
        </p>
    </div>
    </div>
</div>
</body>
</html>
